* {
    text-align: center;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    
}

body {
    overflow: hidden;
    height: auto;
    background-image: url('background.jpg');
    background-color: rgb(86, 143, 180);
    background-repeat: no-repeat;
    height: 100%;
    background-size: cover;
    
}

.board-container {
    display: inline-block;
    padding-top: 2px;
}

.board,
th,
td {
    border: 1px solid black;
    width: 25px;
    height: 25px;
    text-align: center;
    cursor: pointer;
    background-color: rgba(179, 109, 93, 0.705);

}

.level-btn {
    margin-top: 5px;
    padding-bottom: 10px;
    cursor: pointer;
    background-color: rosybrown;
    border: 2px solid thistle;
    color: black;
    outline: none;
    width: 120px;
    height: 30px;
    border-radius: 4px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400i;
}

.level-btn:hover {
    transition-duration: 0.4s;
    background-color: rgb(131, 127, 131);
    color: rgba(61, 60, 60, 0.788);
    font-weight: bolder;
}

.lose-dis {
    display: none;
}


.win-dis {
    display: none;
}


.btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding-top: 20px;
}

.board-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}

.smiley {
    cursor: pointer;
    height: 20px;
    font-size: 20px;
    background-color: aliceblue;
    opacity: 0.8;
    padding: 1px;
    border-radius: 20%;
    display: inline;
}

.revealed {
    background-color: lightpink;
}

.hints-box {
    float: center
    
}

.hint {
    height: 20px;
    width: 150px
}

.light-btn{
    cursor: pointer;
    color: black;
    margin-bottom: 10px;
    margin-top: 15px;
}